<div class="main2">
  <!-- <p>payment works!</p> -->

<!-- <svg-icon src="icono1"></svg-icon> -->
<!-- <h1>{{ jsonData.nm }}</h1> -->

</div>
<div class="fullscreen-bg" *ngIf="isFullscreen">
  <div class="icon-container" [ngStyle]="{'width.%': _butler.deviceType === 'Escritorio' ? 95: null,'border-radius': '31px' }">
    <div  class="div1" style="margin: 0;">

    <img  #miGif src="assets/assetszofri/img/iconOk.gif">
  </div>
  <div  class="div2">
     <span style="font-family: 'Nunito', sans-serif; font-weight: 700; color: #3ddab4; font-size: 26px;">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@1000&display=swap" rel="stylesheet">
    Su solicitud de compra ha sido procesada !
  </span>
  
</div>
<!-- <h1>{{ jsonData.nm }}</h1> -->
    <!-- <p>{{ jsonData.desc }}</p> -->
  </div>
  <!-- Contenido del elemento -->
</div>