<div class="main-container container" style="margin-top: 6%;">
    <div class="row">
        <div class=" col-md-6 ">
            <div class=" px-0 position-relative">

    <!-- <link rel="stylesheet" href="/assets/assetszofri/js//styles.2f76ee892e08768cacd2.bundle.css"> -->
                <!-- <swiper [config]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"  *ngFor='let image of _butler.preview.images; let i = index' style="width:100% !important;">
                            <div class="card shadow-sm mb-3">
                                <div class="card-body">
                                    <img src="{{image}}" alt="" class=" rounded-15">
                                </div>
                            </div>
                        </div>                                          
                    </div>                    
                    <div class="swiper-pagination"></div>
                </swiper> -->
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" style="background-color: white;"></ngx-gallery>
            </div>
        </div>
        <div class=" col-md-6">
            <h4 class="mb-2">{{_butler.preview.name}}</h4>
            <p class="text-dark">{{_butler.preview.description}}.</p>
            <div class="row mb-3">
                <div class="col align-self-center">
                    <h5>
                        
                        CLP 
                        <span style="background-color: #fff4ea;border-radius: 11%;color: #fd7e14;padding: 2px;font-size: 20px;">
                            {{_butler.preview.price+(_butler.preview.price*_butler.defaultRate/100) | number :'1.0'}}
                        </span>
                    </h5>
                </div>
                <div class="col-auto">
                    <div class="counter-number">
                        <button  class="btn btn-sm avatar avatar-40 p-0 rounded-circle" (click)="minus()">
                            <i class="bi bi-dash size-22"></i>
                        </button>
                        <span style="font-size: 24px; font-weight: bold;">{{quantity}}</span>
                        <button  class="btn btn-sm avatar avatar-40 p-0 rounded-circle" (click)="plus()">
                            <i  style="cursor:pointer;"  class="bi bi-plus size-22"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mb-4" [hidden]="_butler.deviceType!='Celular'">
                <div class="col" [hidden]="_butler.viewSelected=='cars'">
                    <a (click)="addToCar(1)" class="btn btn-default  shadow-sm w-100 btn-rounded ">Agregar al carro</a>
                </div>
                <div class="col">
                    <a (click)="addToCar(2)"  class="btn btn-success  shadow-sm w-100  btn-rounded " style="color:#101554;">Comprar ahora</a>
                </div>
            </div>
            <div [hidden]="_butler.deviceType=='Celular'">

         
                <div class="row mb-4"  [hidden]="_butler.viewSelected=='cars'">
                    <div class="col">
                        <a (click)="addToCar(1)" class="btn btn-default boton shadow-sm w-100 btn-rounded boton">Agregar al carro</a>
                    </div>
                   
                </div>
                <div class="row mb-4">
                    
                    <div class="col">
                        <a (click)="addToCar(2)" class="btn btn-success boton shadow-sm w-100  btn-rounded boton" style="color:#101554;">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <!-- <h5 class="mb-0" style="color:#101554;">Descripcion</h5> -->
           


<div class="row">
    <div class="col-6">
        <h5 class="mb-0" style="color:#101554;">Marca</h5>
        <p class="text-dark">{{_butler.preview.brand}}.</p>
        
        <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='cars'">Modelo</h5>
        <p class="text-dark" [hidden]="_butler.viewSelected=='cars'">{{_butler.preview.model}}.</p>

        <div *ngIf="_butler.preview.transmision!==undefined">
            <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='parts'">Transmision</h5>
            <p class="text-dark" [hidden]="_butler.viewSelected=='parts'">{{_butler.preview.transmision.name}}.</p>
        </div>
        <div *ngIf="_butler.preview.fuelType!==undefined">
            <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='parts'">Combustible</h5>
            <p class="text-dark" [hidden]="_butler.viewSelected=='parts'">{{_butler.preview.fuelType.name}}.</p>
        </div>
        <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='parts'">Año</h5>
        <p class="text-dark" [hidden]="_butler.viewSelected=='parts'">{{_butler.preview.year}}.</p>
    </div>
    <div class="col-6">
       
        <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='parts'">Cilindrada</h5>
        <p class="text-dark" [hidden]="_butler.viewSelected=='parts'">{{_butler.preview.displacement}}.</p>
        <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='parts'">Kilometraje</h5>
        <p class="text-dark" [hidden]="_butler.viewSelected=='parts'">{{_butler.preview.mileage}}.</p>
        <div *ngIf="_butler.preview.carType!==undefined">
            <h5 class="mb-0" style="color:#101554;" [hidden]="_butler.viewSelected=='parts'">Modelo</h5>
            <p class="text-dark" [hidden]="_butler.viewSelected=='parts'">{{_butler.preview.carType.name}}.</p>
    </div>
</div>
         
            
           
            </div>





            <br />
        </div>
    </div>
</div>